<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelByClasses" parallel="classes" thread-count="3">
    <!--Cross Browser Tesing & parallel Testing-->
    <!-- Chrome Test -->
    <test name="CrossBrowserTests-Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
           
        </classes>
    </test>

    <!-- Firefox Test -->
    <test name="CrossBrowserTests-Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
           
        </classes>
    </test>

    <!-- Edge Test -->
    <test name="CrossBrowserTests-Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            
        </classes>
    </test>

</suite>