<?xml version="1.0" encoding="UTF-8"?>
<!-- log4j2 configuration file -->
<Configuration xmlns="http://logging.apache.org/log4j/2.24.3/config" status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="logs/test-output.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
    	 <!-- Suppress TestNG internal logs -->
        <Logger name="org.testng.internal.Utils" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

    

        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>